<div class="content">
    <h1>Impressum</h1>
    <h2>Verantwortlich</h2>
    <p>Institut für Wirtschaftsinformatik, Abteilung Informationsmanagement,
        <br>Prof. Dr. Susanne Robra-Bissantz<br>
        <br>Verbundprojektkoordination: Bijan Khosrawi-Rad</p>

    <h2>Kontakt</h2>
    <p>Technische Universität Braunschweig Institut für Wirtschaftsinformatik, Abteilung Service-Informationssysteme
        <br>Mühlenpfordtstr. 23 
        <br>38106 Braunschweig 
        <br>Tel.: +49 (0) 531 391 3139 
        <br>E-Mail: <a href="mailto:b.khosrawi-rad@tu-braunschweig.de">b.khosrawi-rad@tu-braunschweig.de</a></p>

    <h2>Rechtsform</h2>
    <p>Die Technische Universität Braunschweig ist eine Körperschaft des Öffentlichen Rechts.</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>DE 152330858</p>

    <h2>Zuständige Aufsichtsbehörde</h2>
    <p>Niedersächsisches Ministerium für Wissenschaft und Kultur Leibnizufer 9 30169 Hannover
        <a href="https://www.mwk.niedersachsen.de">www.mwk.niedersachsen.de</a></p>
</div>