.chat-window {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 1px #121212);
  overflow: hidden;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 600px;
  background-color: #ffffff;
  
  app-chat-header {
    height: 45px;
  }
  
  .chat-window-messages {
    flex-grow: 1;
    overflow-y: scroll;
    
    padding: 20px;
  }
  
  app-chat-user-input {
    flex-grow: 0;
    height: 50px;
    border-top: 1px solid #e1e1e1;
  }
}

app-chat-button {
  display: none;
}

.shown {
  display: flex;
}

.full-screen {
  height: 90%;
  width: 90%;
}

.chat-window-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-window-messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.chat-window-messages::-webkit-scrollbar-track {
  background-color: #ffffff;
}

@media only screen and (max-width: 768px), only screen and (max-height: 640px) {
  .chat-window {
    height: 100%;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    left: 0;
  }
}
