<div class="content-center">
    <div class="content-wrapper">
        <iframe src="https://www.youtube.com/embed/OZhmUqLwHZI?si=iXZs8JfgjpFXAuxJ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <b>Willkommen bei Study Buddy</b>
        <p>Ihr virtueller Companion für erfolgreiches Lernen und Motivation. Study Buddy ist ein innovatives Projekt,
            das darauf abzielt, Lernende durch einen interaktiven Chatbot zu unterstützen. Basierend auf umfangreichen
            Umfragen und Studien wurden spezifische Bedürfnisse von Lernenden ermittelt und in die Entwicklung von Study
            Buddy integriert.</p>

        <p>Derzeit befindet sich Study Buddy noch in der Prototyp-Phase, was bedeutet, dass es noch zu Fehlern kommen
            kann und einige Funktionen möglicherweise nicht vollständig sind. Wir arbeiten stetig an der Verbesserung
            und Weiterentwicklung des Systems, um einen möglichst natürlichen Gesprächsverlauf zu gewährleisten.</p>

        <b>Features und Personalisierung</b>
        <p>Auf unserer Website haben Nutzer die Möglichkeit, sich anzumelden, einen persönlichen Avatar zu wählen und
            ihre Lernziele festzulegen. Study Buddy bietet bereits verschiedene Funktionen, wie die Erklärung und
            Unterstützung bei der Festlegung smarter Lernziele, Fragen zu verschiedenen Themengebieten zu beantworten
            und die Durchführung von Quizzen in verschiedenen Themengebieten. Die Fragen und Antworten für das Quiz
            werden aus einer Datenbank entnommen und sind deshalb einfach zu erweitern und zu verändern. </p>

        <p>Wir planen, zukünftig weitere Features zu integrieren, wie die Speicherung von Quiz-Ergebnissen, um
            individuelle Lernfortschritte besser nachverfolgen zu können, und die Einführung von Motivationssystemen wie
            Punkten, um das Lernen noch ansprechender zu gestalten.</p>

        <p>Weitere Informationen sind zu finden unter <a href="https://study-buddy-research.de">unsere Projektseite</a>.
            Ich hoffe es ist auch ein bisschen zeit da, um unseren Fragebogen auf der Startseite auszufüllen.<br> Viel
            Spaß beim Entdecken und Lernen mit Study Buddy!</p>
    </div>
</div>