<div class="footer">
    <div class="about-us">
        <h2>Was ist StudyBuddy?</h2>
        <p>In einer zunehmend digitalisierten und flexibilisierten Welt, wird das lebenslange und auf die eigenen
            Bedürfnisse zugeschnittene Lernen für den beruflichen Erfolg immer wichtiger. Das geförderte Projekt
            StudyBuddy ist ein Verbundprojekt mit dem zentralen Ziel, einen virtuellen Lernbegleiter zur Unterstützung
            der Lernenden zu gestalten, sodass frühzeitig Wissens- und Verständnislücken erkannt und behoben werden,
            sowie die Wissensvermittlung individuell auf den Lernenden zugeschnitten werden kann. Langfristig soll
            dadurch der Lernerfolg erhöht und die Abbruchquote in Weiterbildungsmaßnahmen gesenkt werden.
        </p>
    </div>
    <div>
        <h2>Links</h2>
        <ul class="link-tree">
            <li><a href="#" routerLink="/imprint">Impressum</a></li>
            <li><a href="https://study-buddy-research.de/" target="_blank">StudyBuddy Research 
                <i class="fa fa-external-link"></i></a></li>
            <li><a href="#" routerLink="/dse">Datenschutzerklärung - StudyBuddy</a></li>
            <li><a href="#" routerLink="/dse-gpt">Datenschutzempfehlungen - ChatGPT</a></li>
            <li><a href="#" routerLink="/source">Quellenverzeichnis</a></li>
        </ul>
    </div>
</div>