<div class="admin-container">
    <div class="admin-description">
        <h2>
            Willkommen in der Dateiverwaltung
        </h2>
        <p>
            in diesem Bereich haben Lehrende die Möglichkeit ihre Lerninhalte als Pdf hochzuladen, 
            damit der Study Buddy diese als Wissensbasis benutzen kann und den Lernenden Fragen dazu beantworten kann. 
            Des Weiteren können bereits hochgeladene Dateien bearbeitet und wieder entfernt werden.
        </p>
    </div>
    <div class="menu-container">
        <div class="button-container">
            <p class="select-title">
                Dateien hochladen
            </p>
            <p class="select-description">
                Laden Sie Skripte zu ihren Vorlesungen hoch, damit der StuBu diese als Wissensbasis benutzen kann 
                und den Lernenden Fragen dazu beantworten kann.
            </p>
            <button routerLink="/admin-bereich/upload">Hochladen</button>
        </div>
        <div class="button-container">
            <p class="select-title">
                Dateien bearbeiten oder löschen
            </p>
            <p class="select-description">
                Ändern Sie die Daten (Institution, Name oder Beschreibung) von Ihren bereits hochgeladenen 
                Dateien oder löschen Sie diese.
            </p>
            <button routerLink="/admin-bereich/edit">Bearbeiten</button>
        </div>
    </div>
</div>

