<div class="content">
    <h1>Credit</h1>
    <ul>
        <li>Website & avatar design © Guhit Nette + Auee</li>
        <li>Icon © oksanavectorart via canva.com</li>
        <li>Icon © toprater via canva.com</li>
        <li>Icon © pratiksha-ps-images via canva.com</li>
        <li>Icon © andrii-kalenskyi via canva.com</li>
        <li>Icon © maryicons via canva.com</li>
        <li>Icon © Puckung via canva.com</li>
        <li>Roboto © Google Fonts</li>
        <li>Montserrat © Google Fonts</li>
    </ul>
</div>