<nav class="navbar navbar-expand-lg navbar-dark">
  
  <div class="image-container">
    <div class="avatar-background"></div>
    <img [src]="avatarIcon" alt="Avatar" class="avatar-icon" />
  </div>
  <div class="chatbot-name">
    {{ title }}
  </div>
  
  <div class="chat-settings">
    <div class="hitbox" (click)="changeWindowSize()">
      <i class="fa fa-window-maximize"></i>
    </div>
    <div class="hitbox" (click)="onCloseClick()">
        <i class="fa fa-close"></i>
    </div>
  </div>

</nav>
