<div class="register-center">
  <form class="form-group">
    <div>
      <label for="username">Nutzername</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Nutzername" [(ngModel)]="username"
             required>
    </div>
    <div>
      <label for="email">E-Mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="password">Passwort</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Passwort"
             [(ngModel)]="password" required>
  
    </div>
    <div class="login mb-3">
        <button type="submit" class="btn btn-primary me-2" (click)="signup()">Registrieren</button>
        <button type="button" class="btn btn-secondary" routerLink="/login">Anmelden</button>
    </div>
  </form>
  
</div>