.register-center {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p, label {
    margin: 0 0 5px 0;
  }

  .form-group {
    display: flex;
    width: 40vw;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background: var(--stubu-dark);
    border: 1px solid var(--stubu-dark);
    border-radius: 5px;
    box-shadow: 6px 6px 12px 0 #171717;
    -webkit-box-shadow: 6px 6px 12px 0 #171717;
    -moz-box-shadow: 6px 6px 12px 0 #171717;
  }

  .login {
    margin: 15px 0 0 0 !important;
    display: flex;
    flex-direction: row;

    .btn-primary {
      background-color: var(--stubu-primary-light);
      border-color: var(--stubu-primary-light);
      color: var(--stubu-dark);
      flex: 1;
    }
    
      .btn-secondary {
        flex: 1;
      }
  }
}